:root {
    --date-color: #727272;
    --h2-font-serif: "Playfair Display", Georgia, "Times New Roman", serif/*rtl:Amiri, Georgia, "Times New Roman", serif*/;
}
body {
    margin: 10px;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
#form {
    text-align: left;  
}

/* #logEntries:nth-child(odd) {
    background-color: blue;
}
#logEntries:nth-child(even) {
    background-color: green;
} */

h2 {
    font-family: var(--h2-font-serif);
}

#oneEntry {
    padding:20px
}